
<div class="row">
    <div class="column left">
        <!-- https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html -->
         <form  id="form" name="form" method="POST" action=""> 
            {% csrf_token %}
            <table id="table_left">
               {% for field in form %}
                    <tr id = "reveal">
                        <th title = "{{field.help_text}}" >{{ field.label_tag }}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}       
            </table>
            <input id="form_confirm_btn" type="submit" name="confirm" value="Confirm" >

        </form>
</div>